.column {
  width: 90%;
  height: calc(100vh - 180px);
  background-color: white;
  position: relative;
  border-radius: 8px;

  .title {
    width: 100%;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    span {
      font-size: 14px;
      font-weight: 600;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    &.open {
      background-color: #FCC8CB;
    }

    &.executed{
      background-color: #F8D8C7;
    }

    &.inspected{
      background-color:#D4F0C6;
    }

    &.archived{
      background-color: #EFEDED;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}